PORT=5001
MONGODB_URI=mongodb://localhost:27017/servicehive
ACCESS_TOKEN_SECRET=your_jwt_access_secret_change_this
REFRESH_TOKEN_SECRET=your_jwt_refresh_secret_change_this
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
